@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", Arial sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
}
/* Styling for navbar  */
.navbar {
  margin-top: 10px;
  /* box-shadow: 0px 1px 2px #292b2c34; */
}

.navbar-brand {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

a.nbtn {
  padding: 2px 17px;
  border-radius: 4px;
  line-height: 28px;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  margin-left: 8px;
  font-weight: 500;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

/* Styling for form fields */
label {
  font-size: 14px;
}

input#name.form-control,
input#password2.form-control,
input#email.form-control,
input#password.form-control,
input#cities.form-control {
  padding: 5px;
  border-radius: 5px;
  font-size: small;
}

input#name.form-control:focus,
input#password2.form-control:focus,
input#email.form-control:focus,
input#password.form-control:focus,
input#cities.form-control:focus {
  border: 2px solid #417dfd;
  box-shadow: none;
  outline: none;
}

section {
  padding: 40px 0px 50px;
}

/* Blog Page styling */
.blog-p {
  font-size: 86px;
  font-weight: 400;
  line-height: 70px;
  color: #110d1d;
}

@media only screen and (max-width: 768px) {
  .blog-p {
    font-size: 50px;
    font-weight: 600;
  }
}

/* Card Styling */
div.blogcard {
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
}

div.blog-card-body {
  background: linear-gradient(
    0deg,
    #fafafa 0%,
    rgba(250, 250, 250, 0.96) 25%,
    rgba(250, 250, 250, 0.92) 37%,
    rgba(250, 250, 250, 0.86) 54%,
    rgba(250, 250, 250, 0.76) 100%
  );
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: -30px;
  margin-bottom: -30px;
}
h6 span {
  font-size: 14.8px;
  font-weight: bold;
  text-transform: lowercase;
}

h6 small {
  font-size: 10.24px;
}
