body {
  margin: 0;
}
/* Styling for navbar  */
.navbar {
  box-shadow: 0px 2px 3px #292b2c34;
}
.navbar-nav .nav-link {
  font-size: 1em;
  font-weight: 500;
  padding: 0.5rem 0px;
}

/* Changes in table component */
.MTableToolbar-title-9 h6 {
  font-size: 1.5em;
  color: #000;
}
.MTableToolbar-actions-8 div div span button:focus {
  outline: none;
}
table thead tr th .MuiTableSortLabel-icon {
  opacity: 1;
}
div span .MuiButtonBase-root {
  outline: none;
}
div div .MuiTypography-root.MuiTypography-caption {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

/* Styling for all buttons  */
button.close:focus {
  outline: none;
  box-shadow: none;
}
div .modal-content {
  border-radius: 10px;
}

div .buttons {
  display: inline-block;
  font-family: Inter, "Arial sans-serif";
  font-size: 18px;
  padding: 10px 25px;
  background-color: #6552ff;
  border: 1px solid #6552ff;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 25px 0px;
  font-weight: 500;
}
div .buttons:hover {
  color: white;
}
div .buttons:focus {
  box-shadow: none;
  outline: none;
}

/* Styling for form fields */
label {
  font-weight: 500;
}

input#name.form-control,
input#email.form-control,
input#password.form-control {
  padding: 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid lightgray;
}

input#name.form-control:focus,
input#email.form-control:focus,
input#password.form-control:focus {
  border: none;
  border-bottom: 3px solid #6c63ff;
  box-shadow: none;
  outline: none;
}
