body {
  margin: 0;
}
.navbar {
  box-shadow: 0px 2px 3px #292b2c34;
}
.navbar-nav .nav-link {
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5rem 0px;
}

div .buttons {
  border-radius: 50px;
  border: 1px solid black;
}
div .buttons:hover {
  transition: scale(1.1);
  background-color: black;
  color: white;
}
div .buttons:focus {
  box-shadow: none;
  outline: none;
}
